@font-face {
    font-family: 'Roboto Mono';
    src: local('Roboto Mono Thin'), local('RobotoMono-Thin'), url('Robotomonothin.woff2') format('woff2'), url('Robotomonothin.woff') format('woff'), url('Robotomonothin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

body {
    width: 100%;
    background: linear-gradient(to right, #b5e4f6, #79cdef);
    font-size: 12px;
    font-family: Roboto Mono, lucida sans unicode;
    color: #646464;
}

.page {
    width: 88%;
    background: linear-gradient(to bottom, #fafafa, #d0d0d0);
    margin: 44px 57px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
/*__TOP_HEAD________________________________________________________________________*/

.yellow-head {
    float: left;
    height: 60px;
    background-color: #fed929;
    border-radius: 5px 5px 0 0;
    width: 100%;
    padding: 10px;
}

.little {
    font-size: 10px;
}

.general-page {
    color: #ba1a00;
}

.head-table-head {
    text-align: centre;
    border-right: 1px solid #836000;
}

th:last-child {
    border-right: none;
}

a {
    text-decoration: none;
    font-weight: 100;
    font-size: 16px;
    color: #836000;
}

a:hover {
    text-decoration: underline;
}

a.disabled {
    color: #e2bb06;
    pointer-events: none;
    cursor: default;
}
/*__TOP TABLE_________________________________________________________________________*/

.main-tr {
    margin: 20px;
    width: 97%;
    font-size: 10px;
    border-collapse: collapse;
}

.main-tr tbody {
    height: 195px;
    overflow-y: auto;
}

.centre,
.centre-bold {
    text-align: center;
}

.centre-bold {
    font-style: bold;
    font-size: 16px;
}

.main-tr th,
.main-tr td {
    padding: 7px 0;
    float: left;
}

.main-tr thead {
    border-bottom: 1px solid #9a9a9a;
    font-size: 12px;
}

.main-tr th {
    text-align: left;
    font-weight: normal;
}

.main-tr td:first-child {
    font-size: 12px;
}

.comment {
    font-size: 10px;
    font-family: 'Roboto Mono';
    color: #646464;
    padding: 5px 40px 5px 5px;
}

.main-tr th:first-child,
.main-tr td:first-child {
    width: 9%;
}

.main-tr th:nth-child(2),
.main-tr td:nth-child(2) {
    width: 6%;
}

.main-tr th:nth-child(3),
.main-tr td:nth-child(3) {
    width: 27%;
}

.main-tr th:nth-child(4),
.main-tr td:nth-child(4) {
    width: 10%;
}

.main-tr th:nth-child(5),
.main-tr td:nth-child(5) {
    width: 25%;
}

.main-tr th:nth-child(6),
.main-tr td:nth-child(6) {
    width: 5%;
}

.main-tr th:last-child,
.main-tr td:last-child {
    width: 15%;
}

.main-tr tbody,
.main-tr tr,
.main-tr td,
.footer-table tbody,
.footer-table tr,
.footer-table th,
.footer-table td {
    display: block;
}
/*__BUTTON________________________________________________________________________*/

.button {
    margin: 0px 25px 20px 25px;
}

.btn-1,
.btn-2,
.btn-3 {
      display: inline-block;
      width: 170px;
      height: 40px;
      font-size: 16px;
      text-decoration: none;
      text-align: center;
      line-height: 1.1
      padding: .7em 0;
      border: 1px solid;
      border-radius: 1px;
      box-shadow: inset rgba(255,255,255,.5) 1px 1px;
}

.btn-1,
.btn-2 {
    background: linear-gradient(#8fbb3a, #75a02d);                                                                                                                                                                                                       , #75a02d);
    border-color: #8fbb3a #75a02d #75a02d #8fbb3a;
    text-shadow: #2e7ebd 0 1px 2px;
    color: rgba(255,255,255,.9);
    cursor: pointer;
}

.btn-1:hover,
.btn-2:hover {
    background: #a4c16c;
}

.btn-2,
.btn-3 {
    float: right;
    margin: 0 5px;
}

.btn-1 {
    float: left;
}

.btn-3 {
    color: rgba(120,120,120,.9);
    background: linear-gradient(#eeeeee, #aaaaaa);
    border-color: #888888 #888888 #888888 #888888;
}

/*__BOTTOM HEAD________________________________________________________________________*/

.words {
    margin: 100px 35px 2px 20px;
    vertical-align: center;
}

.application {
    display: inline-block;
    float: left;
}

.time,
.refresh {
    display: inline-block;
    float: right;
    padding-right: 5px;
}

/* ______________________________________________*/


.footer-table {
    float: left;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-collapse: collapse;
}

.footer-table th,
.footer-table td {
    border-left: dotted 1px #fafafa;
    border-top: dotted 1px #fafafa;
    border-bottom: none;
    padding: 10px;
}

.footer-table td:last-child,
.footer-table td:first-child,
.footer-table th:last-child,
.footer-table th:first-child {
    border-left: none;
}

.footer-table .selected-row {
    background-color: #b2d2f9;
}

.footer-table .footer-tr {
    background-color: #fed929;
    text-align: left;
}

.clearfix {
    height: 0px;
    clear: both;
    background: #e74c3c;
}

recycle-bin {
    margin-right: 10px;
}

h2 {
    font-size: 16px;
    font-weight: bold;
}

.footer-table tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.footer-table thead tr {
    width: 97%;
    width: -webkit-calc(100% - 16px);
    width:    -moz-calc(100% - 16px);
    width:         calc(100% - 16px);
}

.footer-table th,
.footer-table td {
    width: 14%;
    float: left;
}

.footer-table tbody {
    height: 148px;
    overflow-y: auto;
}

.footer-table th:nth-child(4),
.footer-table td:nth-child(4),
.footer-table th:nth-child(5),
.footer-table td:nth-child(5) {
    width: 20%;
}

.footer-table th:last-child,
.footer-table td:last-child {
    width: 4%;
}

.footer-table td:last-child,
.footer-table th:last-child {
    width: 5%;
}






